# This is my attempt to plot the AQI data in Bokeh. It would be AQI vs day of year in one county.

In [1]:
#import needed libraries
import numpy as np
import pandas as pd
from bokeh.plotting import *
from bokeh.models import ColumnDataSource
output_notebook()
output_file("index.html", title='States AQI through 2020')

In [2]:
#read in data
data_all = pd.read_csv('daily_aqi_by_county_2020.csv')
df25 = data_all[(data_all['Defining Parameter'] == 'PM2.5')]
df25

,State Name,county Name,State Code,County Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,Alabama,Baldwin,1,3,2020-01-01,48,Good,PM2.5,01-003-0010,1
1,Alabama,Baldwin,1,3,2020-01-04,13,Good,PM2.5,01-003-0010,1
2,Alabama,Baldwin,1,3,2020-01-07,14,Good,PM2.5,01-003-0010,1
3,Alabama,Baldwin,1,3,2020-01-10,39,Good,PM2.5,01-003-0010,1
4,Alabama,Baldwin,1,3,2020-01-13,29,Good,PM2.5,01-003-0010,1
...,...,...,...,...,...,...,...,...,...,...
217286,Wyoming,Teton,56,39,2020-08-24,155,Unhealthy,PM2.5,56-039-1013,3
217287,Wyoming,Teton,56,39,2020-08-25,102,Unhealthy for Sensitive Groups,PM2.5,56-039-1013,3
217288,Wyoming,Teton,56,39,2020-08-26,83,Moderate,PM2.5,56-039-1013,3
217290,Wyoming,Teton,56,39,2020-08-28,75,Moderate,PM2.5,56-039-1013,3
217291,Wyoming,Teton,56,39,2020-08-29,74,Moderate,PM2.5,56-039-1013,3

In [3]:
#convert date to day of year 
from dateutil.parser import parse
dateseries = df25['Date']
date_series = dateseries.map(lambda x: parse(x))
df25 = df25.assign(dayofyear = date_series.dt.dayofyear.tolist())

In [4]:
import numpy as np

days = np.linspace(1,365,365)
alabama = np.zeros(365) - 1

In [5]:
print(pd.unique(df25["State Name"]))

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District Of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Puerto Rico' 'Rhode Island'
 'South Carolina' 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont'
 'Virgin Islands' 'Virginia' 'Washington' 'West Virginia' 'Wisconsin'
 'Wyoming']

In [6]:
statenames = ['Alaska', 'Washington' , 'Montana','North Dakota','Minnesota', 'Wisconsin','Michigan','New York','Vermont',
    'New Hampshire',  'Maine','Oregon','Idaho', 'Wyoming','South Dakota','Nebraska', 'Iowa','Illinois',
    'Indiana',   'Ohio','Pennsylvania', 'Connecticut', 'Rhode Island','Massachusetts', 
    'California', 'Nevada', 'Utah', 'Colorado', 'Kansas','Missouri', 'Kentucky', 'West Virginia', 'Virginia', 
    'District Of Columbia', 'Maryland','Delaware', 'New Jersey', 'Arizona', 'New Mexico','Texas','Oklahoma',
    'Arkansas', 'Tennessee', 'Louisiana', 'Mississippi','Alabama','Florida','Georgia',
    'South Carolina','North Carolina', 'Puerto Rico', 'Virgin Islands','Hawaii']

In [7]:
newdf = pd.DataFrame()
newdf['DayofYear'] = days
for state in statenames:
    newdf[state] = np.zeros(365) - 1

In [13]:
# convert the old data frame into a new one that arranges each value by state and day 

# for i,day in enumerate(days):
#     mydf = df25.loc[(df25['dayofyear'] == day)]
#     for state in statenames:
#         dfstate = mydf.loc[(mydf['State Name'] == state)]
#         if len(dfstate) > 0:
#             newdf[state].iloc[i]= np.mean(dfstate['AQI'])
# newdf

,DayofYear,Alaska,Washington,Montana,North Dakota,Minnesota,Wisconsin,Michigan,New York,Vermont,...,Louisiana,Mississippi,Alabama,Florida,Georgia,South Carolina,North Carolina,Puerto Rico,Virgin Islands,Hawaii
0,1.0,27.500000,16.875000,19.300000,-1.000000,27.470588,34.285714,26.833333,30.000000,-1.000000,...,73.294118,48.714286,36.545455,56.000000,32.400000,29.000000,20.375000,34.285714,8.0,32.750000
1,2.0,33.250000,16.600000,17.166667,37.666667,27.312500,27.833333,29.777778,43.357143,40.000000,...,35.200000,29.500000,29.000000,44.818182,36.533333,32.375000,36.888889,10.000000,-1.0,9.333333
2,3.0,78.750000,21.423077,33.750000,-1.000000,23.428571,35.076923,36.500000,52.000000,43.333333,...,19.000000,17.500000,19.000000,37.480000,30.625000,29.714286,32.470588,7.000000,-1.0,14.333333
3,4.0,59.333333,17.208333,17.083333,-1.000000,25.125000,24.250000,17.545455,43.214286,31.000000,...,25.200000,26.666667,21.500000,28.000000,17.500000,12.200000,9.714286,20.333333,17.0,14.333333
4,5.0,72.666667,18.040000,22.142857,-1.000000,21.400000,30.545455,22.285714,25.363636,-1.000000,...,37.500000,22.000000,28.142857,32.250000,24.500000,16.400000,10.857143,14.000000,-1.0,21.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,361.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000
361,362.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000
362,363.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000
363,364.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000
364,365.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000

In [14]:
#saved new df to csv so I wouldn't have to calculate this again 
#newdf.to_csv('meandayofyear.csv',index = False)
newdf = pd.read_csv('meandayofyear.csv')

In [19]:
source2 = ColumnDataSource(data = newdf)
#call tools for bokeh plot 
TOOLS = "pan,wheel_zoom,box_zoom,reset,save,box_select,lasso_select"


plotsarray = []
for state in statenames:
    p = figure(tools=TOOLS, width=350, height=350, title=state)
    p.circle('DayofYear', state, source=source2)
    p.xaxis.axis_label = 'Day of Year'
    p.yaxis.axis_label = 'AQI for PM 2.5'
    plotsarray.append(p)

TypeError: 'NoneType' object is not callable

In [18]:
show(gridplot(plotsarray,ncols=5))

# now I need to make a data frame that contains the average AQI category for each state at each day so I can make a df to use for the D3 map
#### good 0-50
#### moderate 51-100
#### unhealthy for sensitive groups 101-150
#### unhealthy 151-200
#### Very unhealthy 201-300
#### Hazardous 301-500

In [ ]:
catdf = pd.DataFrame()
for state in statenames:
    newcol = []
    for i in newdf[state]:
        if i > 0 and i <= 50 :
            newcol.append('Good')
        elif i > 50 and i <= 100:
            newcol.append('Moderate')
        elif i > 100 and i <= 150:
            newcol.append('Unhealthy for Sensitive Groups')
        elif i > 150 and i <= 200:
            newcol.append('Unhealthy')
        elif i > 200 and i <= 300:
            newcol.append('Very Unhealthy')
        elif i > 300 and i <= 500:
            newcol.append('Hazardous')
        else:
            newcol.append('null')
    catdf[state] = newcol

In [ ]:
catdf.to_csv('categoriesforStates.csv', index = False)

In [ ]:
############

# This is my attempt to plot the Green house gas emissions from onshore oil and gas production. I want to plot it time (x) vs emission (y). However, there is the extra complication of location data, and there are only 9 points per time. 
### Maybe I can plot a bunch of lines that are each state?

In [ ]:
#import needed libraries
import numpy as np
import pandas as pd
from bokeh.plotting import *
from bokeh.models import ColumnDataSource
output_notebook()
#output_file("index.html", title='CuCap data 1')

In [ ]:
#read in data
df = pd.read_csv('ghgp_data_emissions.csv')
df

In [ ]:
df = df.assign(EM2019 = df['2019 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))
df = df.assign(EM2018 = df['2018 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))
df = df.assign(EM2017 = df['2017 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))
df = df.assign(EM2016 = df['2016 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))
df = df.assign(EM2015 = df['2015 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))
df = df.assign(EM2014 = df['2014 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))
df = df.assign(EM2013 = df['2013 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))
df = df.assign(EM2012 = df['2012 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))
df = df.assign(EM2011 = df['2011 Total reported emissions from Onshore Oil & Gas Production '].
            str.replace(',','').fillna(0))

In [ ]:
redf = pd.DataFrame
redf['Em2019'] = df[EM2019]

In [ ]:
dfCO = df.loc[(df['Reported State'] == 'CO')]

In [ ]:
#define source 
source = ColumnDataSource(data=dict(x=dfCO[:1], 
                                    y=dfCO['Facility Id']))
#call tools for bokeh plot 
TOOLS = "pan,wheel_zoom,box_zoom,reset,save,box_select,lasso_select"

In [ ]:
# create another new plot and add a renderer
stab = figure(tools=TOOLS, width=350, height=350, title=None)
stab.circle('x', 'y', source=source, color='red')
#stab.xaxis.axis_label = 'Î´88/86Sr'
#stab.yaxis.axis_label = 'Height (m)'
show(stab)

#### Okay so the issue here is that I'm not sure how to meaningfully plot the data. I have at least cleaned up the data set so that the emissions values are numbers that can be plotted. I dont think there is a good way to do it in bokeh, so I will move on to trying to put it on a map.

# First, will plot the emission data per year for W-ONSH